
/*
============================
            font
============================
*/

@font-face {
    font-family: "K2D-Bold";
    src: url('../Police/K2D/K2D-Bold.ttf');
}
@font-face {
    font-family: "K2D-ExtraBold";
    src: url('../Police/K2D/K2D-ExtraBold.ttf');
}

*{
    font-family: "K2D-Bold", sans-serif;
}

h1, 
h2, 
h3,
h4 {
    font-family: "K2D-ExtraBold", Arial, sans-serif;
}

/*
============================
            Base
============================
*/

*{
    margin: 0;
}

h1, h4, a, p{
    color: white;
}

h1{
    font-size: 3.8rem;
    animation: h1 2700ms;
}

h2{
    color: #008C8C;
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 10% 0 8% 20%;
}

h3{
    color: #008C8C;
    font-size: 3.5rem;
}

h4{
    font-size: 2rem;
}

a, p{
    text-decoration: none;
    font-size: 1.5rem;
}

a{
    margin-left: 1rem;
}


/*
============================
            Layout          
============================
*/

.l-header{
    height: 100vh;
}

article{
    border: 5px solid #008C8C;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.05);
    padding: 3%;
    margin-bottom: 2%;
}

/*
============================
            Module
============================
*/

.btn {
    color: #008C8C;
    background-color: transparent;
    padding: 10px;
    margin: 1.5em 0 4em 24vw;
    font-size: 1.3em;
    cursor: pointer;
}

.btn-2{
    color: black;
    background-color: white;
}



/*
============================
            utilis
============================
*/

.pd-primary{
    padding: 0 15%;
}

.mg-primary{
    margin: 0 15%;
}

.dp-flex{
    display: flex;
    justify-content: space-between;
}

.fw-wrap{
    flex-wrap: wrap;
}

.border{
    border: 4px solid #008C8C ;
}

.border-radius{
    border-radius: 16px;
}
.bg-1{
    background-image: url("../Images/BG_01.jpg");
    background-size: cover;
   
}

.bg-2{
    background-image: url("../Images/BG_02.jpg");
    background-size: cover;
}

/*
============================
section header
============================
*/

.head{   
    align-items: center; 
    padding-top: 5%;
}

header h1{
    padding: 8% 0;
}

/*
===========================
section service
===========================
*/

.img-service {
    border-color: white;
    padding: 1.5%;
   margin: 2% 5% 0 0;
    width: 130px;
    height: 12vh;
}

#service{
    padding-bottom: 10%;
}

/*
=============================
section realisation
=============================
*/

.rea-img{ 
    margin: 3% 0;
    width: 250px;
    height: 20vh;
}

/*
=============================
section partenaire
=============================
*/


.partenaire-img{
    width: 210px;
    height: 15vh;
    padding-bottom: 10%;
}

/*
=============================
section temoignage
=============================
*/

.temoignage{
    background-color: white;
    padding: 10px;
    margin-right: 1%;
}

.temoignage p{
    color: black;
}

/*
=============================
section form
=============================
*/

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-input {
    color: black;
    margin-left: 0;
    margin: 0 0 0.5em 0;
    cursor: text;
}

.btn-submit{
    margin-left: 0;
    width: 50%;
}

/*
=============================
section maps
=============================
*/
.maps{
    width: 45%;
}
iframe{
    width: 100%;
    height: 80vh;
}